@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

.navbar{
    display: grid;
    grid-template-columns: 5fr 2fr;
    font-size: small;
    background-color: black;
    padding: 4px;
    
}

.navbar > div > a{
    text-decoration: none;
    color: white;
    
    word-spacing: 2px;
    margin: 1vmax;
    font-weight: 200;
    
}

.navbar > div > a:hover{
    font-weight: bolder;
}

 svg {
    fill: gray;
   
}
.navbar >div >a svg:hover{
    fill: white;
}

.navbar > div{
    display: flex;
    align-items: center;
}