#subNavCard-main{
    display: flex;
    justify-content: center;
    transition: all 1s;
    
}

#subNavCard-main > div img{
    width: 12vw;
}

#subNavCard-main > div {
    text-align: center;
    margin: 1vmax;
   
    
    
}
.i-price{
    color: orangered;
}

#subNavCard-main > div p{
    font-size: 1vmax;
}



